*{
    text-align: center;
    font-family: "Stylish"
}
html {
    background-color: #CC99FF;
    font-size: 16px;
}
body {
    width: 640px;
    margin: auto;
    /* 너비에서 남는 여백을 동일하게 분배
    그래서 가운데 정렬의 효과가 있다. */
}
h1{
    font-size: 48px;
    color: #00FF00;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid blue;
}
p{
    font-size: 1.5rem;
}
span{
    line-height: 100px;
}
#facts{
    font-weight: 900px;
    text-align: right;
}