*{
    text-align: center;
}

.mt-5{
    text-align: center;
}
.align-items-center{
    margin-left: auto;
}
#navi {
    display:flex;
    justify-content: center;
    align-content: center;
}

.btn-lg {
    padding-left : 55px;
    padding-right: 55px;
}

body {
    min-height: 100vh;

    background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
    background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
  }